#Antlr4
gen

#Maven
dependency-reduced-pom.xml

#Crashing eclipse
hs_err_pid*.log
tmp
debug-output

# Package Files #
*.jar
*.war
*.ear

target
*.bak
*.swp
*~
bin

#Eclipse stuff
.metadata
.settings
.classpath
.project

#IntelliJ stuff
.idea
*.iml

#test files
x
xx
y
yy
z
zz
result-*.yaml
__*

# Patches related
*.patch
*.diff
!antlr4-pvisitor/ChangedMadeToTheOriginalANTLR4Files.diff
*.orig
*.rej

# Local test files and scripts
testfiles
*.tar.gz

# LibreOffice lock file
.~lock.*

